*{
    top: 0;
    left: 0;
}
body{
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(80px, auto);
    margin: 0 -8px;
    grid-gap: 12px;
    background-color: #111516;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "aside aside section section section section header header header header header header"
    "aside aside main main main main main main main main main main"
    "aside aside main main main main main main main main main main"
    "aside aside main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"; 
}


h1{
    margin-bottom: 60px;
}

p {
    font-size: 22px;
}

p a{
    color: #3bbced
}

p b {
    font-size: 27px;
}

div{
    border-bottom: 2px solid blue;
    border-width: 3px;
}

#container > *{
    padding: 30px;
}

nav{
    grid-area: nav;
    background-color: #0B191C  ;
    align-self: center;
    position: fixed;
    width: 100%
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style: none;
}

nav a{
    font-size: 1.5em;
}

nav a:hover{
    color: #3bbced;
    border: 2px solid;
}

nav a:visited{
    color: red;
    border: 2px solid;
}


header{
    grid-area: header;
    background-color: #554947;
}

header p{
    padding: 28px 100px;
}

main{
    grid-area: main;
    display: grid;
    background-color: #554947;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 12px;
    grid-template-areas: 
    "dataInfo infoElements infoElements infoElements infoElements"
    "dataInfo infoElements infoElements infoElements infoElements"
    
}

main div{
    border-bottom: none;
}

main .lineBorder{
    border-bottom: 3px solid blue;
}

.dataInfo{
    grid-area: dataInfo;

}

.infoElements{
    grid-area: infoElements
}

aside{
    grid-area: aside;
    background-color: #554947;
    text-align: center
}



section{
    grid-area: section;
    background-color: #554947;
}

section p{
    padding: 7px;
}

p.ballBlue{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #3BC4E3  ; 
    border-radius: 50%;
    border-bottom: none;
}

p.ballBlack{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #111516  ; 
    border-radius: 50%;
}

footer{
    grid-area: footer;
    background-color: #554947;
    display: flex;
    justify-content: space-around;
}
footer div{
    margin-left: 20px;
}

@media screen and (max-width: 1510px){
    #container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(10px, auto);
        margin: 0 auto;
        grid-gap: 10px;
        grid-template-areas: 
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        "aside aside section section section section section header header header header header"
        "aside aside main main main main main main main main main main"
        "aside aside main main main main main main main main main main"
        "aside aside main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"; 
    }

    nav{
        background-color: #111;
        position: relative;

    }
    
    nav ul{
        display: block;
        list-style: disc;
    }
    
    nav li{
        margin-top: 30px;
        list-style: disc;
        list-style-position: inside;
    }
    
    nav a{
        font-size: 1.4em;
    }

    footer{
        display: grid;
    }
}


@media screen and (max-width: 1215px){
    #container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(10px, auto);
        margin: 0 auto;
        grid-gap: 10px;
        grid-template-areas: 
        "nav nav nav nav nav"
        "header header section section section"
        "aside aside aside aside aside"
        "main main main main main"
        "footer footer footer footer footer"; 
    }

    nav{
        background-color: #111;
        position: relative;

    }
    
    nav ul{
        display: block;
        list-style: disc;
    }
    
    nav li{
        margin-top: 30px;
        list-style: disc;
        list-style-position: inside;
    }
    
    nav a{
        font-size: 1.4em;
    }

    footer{
        display: grid;
    }
}


@media screen and (max-width: 576px){
    #container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(10px, auto);
        margin: 0 auto;
        grid-gap: 10px;
        grid-template-areas: 
        "nav nav nav nav nav"
        "header header header header header" 
        "section section section section section"
        "aside aside aside aside aside"
        "main main main main main"
        "footer footer footer footer footer"; 
    }

    nav{
        background-color: #111;
        position: relative;

    }
    
    nav ul{
        display: block;
        list-style: disc;
    }
    
    nav li{
        margin-top: 30px;
        list-style: disc;
        list-style-position: inside;
    }
    
    nav a{
        font-size: 1.1em;
    }

    footer{
        display: grid;
    }
}